body {
    background-color: #121212;
    color: white;
}
body a {
    color: rgb(0, 100, 255);
}
nav ul li a{
    color: white;
}
#nav {
    background-color: #121212;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
}
#header, #footer {
    background-image: linear-gradient(rgb(30, 89, 121), darkblue);
}